/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

h1,
body {
    width: 70%;
    margin: 5% 15%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: justify;
    margin: 2%;
}

.latitud {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lat-observador {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.coord-origen,
.coord-destino {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coord-origen-sistema,
.coord-destino-sistema {
    margin: 1%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.coord-origen-tipo-grad,
.coord-destino-tipo-grad {
    width: 100%;
    margin: 1%;
    display: flex;
    justify-content: center;
}

.coord-origen-tipo-grad >div,
.coord-destino-tipo-grad >div {
    margin: 1%;
 }

.coord-origen-ang-cont,
.coord-destino-ang-cont {
    width: 100%;
    display: flex;
    justify-content: center;
}

.coord-origen-ang,
.coord-destino-ang {
    width: 20%;
    margin: 5%;
}

.coord-origen-ang > div,
.coord-destino-ang > div {
    display: flex;
    justify-content: space-between;
}

.coord-origen-ang > div > input,
.coord-destino-ang > div > input {
    width: 80px;
}

.boton-calcular {
    display: flex;
    justify-content: flex-end;
    margin: 5%;
}